* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scrollbar-width: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #F5EDE4;
    --text-color: #000;
    --main-color: #4F7C6F;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* header section code */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

/* this is what makes it more than 1 line (the color) */
.logo:hover {
    transform: scale(1.05);
    color: var(--snd-bg-color);
}

.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--snd-bg-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* Home Section Code */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 50vh;
    height: 50vh;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: default;
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.8rem;
    text-align: left;
    line-height: 1.5;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.2) translateY(-5px);
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

/* About Section Code */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 40vh;
    height: 40vh;
    object-position: center;
    object-fit: fill;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: default;
    margin-right: 4rem;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
    margin-top: 1rem;
}

.about-content p {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 3rem 0 2rem;
}

.skills {
    text-align: center;
    width: 25%;
    cursor: default;
}

.skill-tag {
    display: inline-block;
    line-height: 1.2;
    padding: 8px 16px;
    background: var(--main-color);
    border-radius: 20px;
    margin: 1rem 1rem 1rem 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--bg-color);
    transition: 0.3s ease;
}

.skills :hover {
    transform: scale(1.2) translateY(-5px);
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.education {
    display: flex;
    flex-direction: row;
    background: var(--snd-bg-color);
    margin-top: 2rem;
}

.edu-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.edu-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 3rem;
}

.img-ipb img {
    width: 7vh;
    height: 7vh;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.img-ipb img:hover {
    transform: scale(1) translateY(-5px);
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}

.img-ulm img {
    width: 7vh;
    height: 7vh;
    cursor: pointer;
    position: relative;
}

.img-ulm img:hover {
    transform: scale(1) translateY(-5px);
    color: var(--main-color);
    filter: drop-shadow(0 0 10px var(--main-color));
}

.edu-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    line-height: 1.5;
    margin-left: 1rem;
}

.edu-text h1 {
    font-size: 1.4rem;
}

.edu-text h2 {
    font-size: 1.3rem;
}

.edu-text h3 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
}

/* Projects Section Code */

.projects h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects-container .projects-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}

.projects-container .projects-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.projects-box .img-project {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 2rem;
}

.projects-box h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.projects-box p {
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
    line-height: 1.3;
}

.projects-box .btn {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
}